.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .bannerBackground {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("@/assets/home/top.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  .plumeBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: url("@/assets/home/plume.png") no-repeat center center;
    background-size: cover;
    z-index: 3;
  }

  .homeWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .bannerContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80vh;
      z-index: 10;

      .bannerWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        z-index: 1;

        .bannerSlogan {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .bannerSloganLeft {
            font-family: "Karma";
            font-size: 28px;
            font-weight: 400;
            line-height: 41px;
            letter-spacing: 0.2em;
            text-align: left;
          }

          .bannerSloganRight {
            font-family: "Karma";
            font-size: 28px;
            font-weight: 400;
            line-height: 41px;
            letter-spacing: 0.2em;
            text-align: right;
          }
        }

        .bannerTitle {
          position: relative;
          font-family: Arizonia;
          font-size: 244px;
          font-weight: 400;
          line-height: 305px;
          letter-spacing: 0em;
          text-align: center;
          color: #fff;
          -webkit-text-stroke: 3px rgba(0, 0, 0, 0);
          background: -webkit-linear-gradient(
            98.48deg,
            #fff 2.98%,
            #000 97.86%
          );
          -webkit-background-clip: text;
          text-shadow: 0px 5.208510875701904px 34.37617111206055px #759fd7;
        }
      }
    }

    .aboutContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      .aboutCircle {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }

      .aboutIcon {
        position: absolute;
        top: -10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 3;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .aboutBackground {
        position: absolute;
        top: 20vh;
        width: 100%;
        height: calc(100% - 170px);
        background: #f6f1e2;
        z-index: 1;
      }

      .playContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 300px;

        .playWrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0 5vw;

          .playBackground {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            overflow: hidden;

            .playBackgroundImg {
              width: 100%;
              z-index: 3;
            }
          }

          .playContent {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 5vw 15vw;
            gap: 5vw;

            .playCover {
              flex: 1;
              position: relative;
              height: 100%;

              .playCoverImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .playCoverMaskUp {
                position: absolute;
                top: 0;
                width: 100%;
                height: 20%;
                background: linear-gradient(
                  180deg,
                  #fbf7f4 20%,
                  rgba(248, 244, 236, 0) 100%
                );
              }

              .playCoverMaskDown {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 20%;
                background: linear-gradient(
                  0deg,
                  #fbf7f4 20%,
                  rgba(248, 244, 236, 0) 100%
                );
              }

              .playCoverIcon1 {
                position: absolute;
                top: 20%;
                left: -10%;
                width: 90px;
                height: 90px;
                z-index: 10;

                .playCoverIconImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .playCoverIcon2 {
                position: absolute;
                bottom: 20%;
                right: -10%;
                width: 90px;
                height: 90px;
                z-index: 10;

                .playCoverIconImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

            .playText {
              flex: 2;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 50px;

              .playTextTitle {
                font-family: Jockey One;
                font-size: 50px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: 0em;
                text-align: center;
              }

              .playTextContent {
                font-family: Josefin Slab;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
              }

              .playTextButton {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                .playTextButtonItem {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  height: 100px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .aboutWrapper {
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        padding-top: 100px;
        padding-bottom: 120px;

        .aboutHeader {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .aboutLeft {
            width: 222px;
            height: 106px;

            .aboutLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .aboutTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 40px;
            text-transform: capitalize;
          }

          .aboutRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .aboutRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .aboutContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 60px;
          font-family: Josefin Slab;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
        }

        .aboutCard {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 50px;

          .aboutCardRow {
            width: 100%;

            .aboutCardItem {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .aboutCardItemImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .aboutCardItemTitle {
                position: absolute;
                bottom: 30px;
                left: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: linear-gradient(
                  90deg,
                  rgba(0, 0, 0, 0) 0%,
                  #000000 47.5%,
                  rgba(0, 0, 0, 0) 100%
                );

                span {
                  font-family: Josefin Slab;
                  font-size: 24px;
                  font-weight: 700;
                  text-align: center;
                  text-transform: uppercase;
                  color: #fff;
                  padding-top: 13px;
                  padding-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }

    .moreContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-top: -30vw;
      z-index: 3;

      .moreBackgroundImg {
        width: 100%;
        z-index: 3;
      }

      .moreWrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        z-index: 10;
        padding-top: 35vw;
        padding-bottom: 400px;

        .moreHeader {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .moreLeft {
            width: 222px;
            height: 106px;

            .moreLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .moreTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 40px;
            text-transform: capitalize;
          }

          .moreRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .moreRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .moreContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 60px;
          font-family: Josefin Slab;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
        }

        .moreCard {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 60px;
          gap: 50px;

          .moreCardLeft {
            width: 75px;
            height: 75px;
            transform: scaleX(-1);
            cursor: pointer;

            .moreCardLeftImg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .moreCardSlider {
            position: relative;
            width: 100%;

            .moreCardSliderBorder {
              width: 100%;

              .moreCardSliderBorderImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .moreCardSliderContent {
              width: 100%;
              height: 100%;
              z-index: 2;
              position: absolute;
              top: 0;
              left: 0;
              padding: 1.7vw 1.4vw;

              :global(.ant-carousel) {
                width: 100%;
                height: 100%;
              }

              .moreCardSliderContentCarousel {
                width: 100%;
                height: 100%;

                :global(.slick-list) {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                }

                div {
                  width: 100%;
                  height: 100%;
                }
              }

              .moreCardSliderItem {
                display: flex;
                width: 100%;
                height: 100%;
                border-radius: 30px;
                overflow: hidden;

                .moreCardSliderItemImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;

                  iframe {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }

          .moreCardRight {
            width: 75px;
            height: 75px;
            cursor: pointer;

            .moreCardRightImg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .tokenContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: -10vw;
      z-index: 2;

      .tokenBackgroundImg {
        width: 100%;
      }

      .tokenWrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        z-index: 10;

        .tokenHeader {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;

          .tokenLeft {
            width: 222px;
            height: 106px;

            .tokenLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .tokenTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 20px;
            text-transform: capitalize;
            color: #feecac;
          }

          .tokenRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .tokenRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .tokenContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          .tokenContentImg {
            width: 100%;
            margin-top: 30px;
          }

          .tokenCardBody {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;

            .tokenContentText {
              font-family: Josefin Slab;
              font-size: 1vw;
              font-weight: 600;
              line-height: 2vw;
              letter-spacing: 0em;
              text-align: left;
              padding: 30px;
              margin-top: 30px;
              color: #fff;
            }
          }
        }
      }
    }

    .journeyContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-top: -20vw;
      z-index: 10;
      overflow: hidden;

      .journeyBackground {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .journeyBackgroundImg {
          width: 110%;
          z-index: 3;
        }

        .journeyBackgroundColor {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #35324a 46.46%, #1b1b25 100%);
          z-index: 1;
          margin-top: 20vw;
        }

        .journeyBackgroundStar {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("@/assets/home/journeyStar.png") no-repeat center
            center;
          margin-top: 20vw;
          z-index: 2;
          opacity: 0.5;
        }

        .journeyBackgroundFooter {
          bottom: -20vw;
          width: 100%;
          z-index: 2;

          .journeyBackgroundFooterImg {
            width: 100%;
          }
        }
      }

      .journeyWrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        z-index: 10;
        margin-top: 10vw;

        .journeyHeader {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .journeyLeft {
            width: 222px;
            height: 106px;

            .journeyLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .journeyTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 20px;
            text-transform: capitalize;
            color: #483f40;
          }

          .journeyRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .journeyRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .journeyContent {
          font-family: Josefin Slab;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          margin-top: 30px;
        }

        .journeyCarouselDots {
          width: 100%;
          bottom: -100px;

          :global(li) {
            width: 20px;
            height: 20px;
            margin: 0 10px;
            padding: 0;
            background: transparent;
          }

          :global(li button) {
            background: transparent;
            width: 20px;
            height: 20px;

            &::after {
              background: url("@/assets/home/journeyDot.svg") no-repeat center
                center;
              width: 20px;
              height: 20px;
              inset: 0;
            }
          }
        }

        :global(.ant-carousel) {
          width: 100%;
          height: 100%;
        }

        .journeyCarousel {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;

          :global(.slick-list) {
            width: 100%;
            height: 100%;
            overflow: visible;
          }
        }

        .journeyCard {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 160px;

          .journeyCardCharacter {
            height: 700px;
            z-index: 2;

            .journeyCardCharacterImg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .journeyCardPops {
            position: absolute;
            top: -100px;
            height: 930px;
            width: 100%;
            z-index: 3;

            .journeyCardPopsItem {
              position: relative;
              width: 25vw;

              .journeyCardPopsItemImg {
                width: 100%;
                height: 100%;
              }

              .journeyCardPopsItemText {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 100%;
                padding-left: 6vw;
                padding-right: 4vw;

                p {
                  font-family: Poppins;
                  font-size: 0.9vw;
                  font-weight: 400;
                  line-height: 25px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #fff;
                  margin: 0;
                }
              }
            }

            .journeyCardPopsItem1 {
              position: absolute;
              top: 10vw;
              left: 0;
            }

            .journeyCardPopsItem2 {
              position: absolute;
              bottom: 5vw;
              left: 3vw;
            }

            .journeyCardPopsItem3 {
              position: absolute;
              top: 20vw;
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .homeContainer {
    .homeWrapper {
      .bannerContainer {
        .bannerWrapper {
          .bannerSlogan {
            .bannerSloganLeft {
              font-size: 24px;
              line-height: 36px;
            }

            .bannerSloganRight {
              font-size: 24px;
              line-height: 36px;
            }
          }

          .bannerTitle {
            font-size: 200px;
            line-height: 250px;
          }
        }
      }

      .aboutContainer {
        .playContainer {
          .playWrapper {
            .playContent {
              .playText {
                gap: 30px;

                .playTextTitle {
                  font-size: 40px;
                  line-height: 50px;
                }

                .playTextButton {
                  gap: 5px;

                  .playTextButtonItem {
                    height: 80px;
                  }
                }
              }
            }
          }
        }

        .aboutWrapper {
          .aboutHeader {
            .aboutLeft {
              width: 200px;
              height: 96px;
            }

            .aboutTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .aboutRight {
              width: 200px;
              height: 96px;
            }
          }

          .aboutContent {
            font-size: 16px;
            line-height: 25px;
            margin-top: 40px;
          }
        }
      }

      .moreContainer {
        .moreWrapper {
          .moreHeader {
            .moreLeft {
              width: 200px;
              height: 96px;
            }

            .moreTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .moreRight {
              width: 200px;
              height: 96px;
            }
          }
        }
      }

      .tokenContainer {
        .tokenWrapper {
          .tokenHeader {
            .tokenLeft {
              width: 200px;
              height: 96px;
            }

            .tokenTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .tokenRight {
              width: 200px;
              height: 96px;
            }
          }

          .tokenContent {
            .tokenCardBody {
              .tokenContentText {
                font-size: 16px;
                line-height: 25px;
                padding: 40px 20px;
              }
            }
          }
        }
      }

      .journeyContainer {
        .journeyWrapper {
          margin-top: 20vw;

          .journeyHeader {
            .journeyLeft {
              width: 200px;
              height: 96px;
            }

            .journeyTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .journeyRight {
              width: 200px;
              height: 96px;
            }
          }

          .journeyCard {
            margin-top: 60px;

            .journeyCardPops {
              .journeyCardPopsItem {
                .journeyCardPopsItemText {
                  p {
                    font-size: 0.8vw;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .homeContainer {
    .bannerBackground {
      top: 80px;
    }
    .homeWrapper {
      .bannerContainer {
        .bannerWrapper {
          max-width: 90vw;
          .bannerSlogan {
            .bannerSloganLeft {
              font-size: 20px;
              line-height: 36px;
            }

            .bannerSloganRight {
              font-size: 20px;
              line-height: 36px;
            }
          }

          .bannerTitle {
            font-size: 200px;
            line-height: 250px;
          }
        }
      }

      .aboutContainer {
        .aboutIcon {
          top: -12vh;

          img {
            width: 80%;
            height: 80%;
            object-fit: cover;
          }
        }

        .playContainer {
          padding-top: 200px;
          .playWrapper {
            .playContent {
              .playText {
                gap: 30px;

                .playTextTitle {
                  font-size: 35px;
                  line-height: 50px;
                }

                .playTextContent {
                  font-size: 16px;
                  line-height: 25px;
                }

                .playTextButton {
                  gap: 5px;

                  .playTextButtonItem {
                    height: 70px;
                  }
                }
              }
            }
          }
        }

        .aboutWrapper {
          max-width: 90vw;
          width: 100%;

          .aboutHeader {
            .aboutLeft {
              width: 180px;
              height: 86px;
            }

            .aboutTitle {
              font-size: 30px;
              line-height: 40px;
            }

            .aboutRight {
              width: 180px;
              height: 86px;
            }
          }

          .aboutContent {
            font-size: 16px;
            line-height: 25px;
            margin-top: 40px;
          }

          .aboutCard {
            margin-top: 40px;

            .aboutCardRow {
              .aboutCardItem {
                .aboutCardItemTitle {
                  span {
                    font-size: 20px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }

      .moreContainer {
        .moreWrapper {
          .moreHeader {
            .moreLeft {
              width: 180px;
              height: 86px;
            }

            .moreTitle {
              font-size: 30px;
              line-height: 40px;
            }

            .moreRight {
              width: 180px;
              height: 86px;
            }
          }

          .moreContent {
            margin-top: 40px;
          }
        }
      }

      .tokenContainer {
        .tokenWrapper {
          .tokenHeader {
            .tokenLeft {
              width: 180px;
              height: 86px;
            }

            .tokenTitle {
              font-size: 30px;
              line-height: 40px;
            }

            .tokenRight {
              width: 180px;
              height: 86px;
            }
          }

          .tokenContent {
            .tokenCardBody {
              .tokenContentText {
                font-size: 14px;
                line-height: 20px;
                padding: 20px;
                margin-top: 20px;
              }

              .tokenContentMedal {
                width: 45%;
                object-fit: cover;
              }
            }
          }
        }
      }

      .journeyContainer {
        .journeyWrapper {
          margin-top: 10vw;
          width: 100%;
          max-width: 90vw;

          .journeyHeader {
            .journeyLeft {
              width: 180px;
              height: 86px;
            }

            .journeyTitle {
              font-size: 30px;
              line-height: 40px;
            }

            .journeyRight {
              width: 180px;
              height: 86px;
            }
          }

          .journeyCard {
            margin-top: 60px;

            .journeyCardCharacter {
              height: 600px;
            }

            .journeyCardPops {
              height: 800px;

              .journeyCardPopsItem {
                .journeyCardPopsItemText {
                  p {
                    font-size: 0.8vw;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .homeContainer {
    .homeWrapper {
      .bannerContainer {
        .bannerWrapper {
          .bannerSlogan {
            .bannerSloganLeft {
              font-size: 18px;
              line-height: 30px;
            }

            .bannerSloganRight {
              font-size: 18px;
              line-height: 30px;
            }
          }

          .bannerTitle {
            font-size: 180px;
            line-height: 230px;
          }
        }
      }

      .aboutContainer {
        .aboutIcon {
          top: -13vh;
        }

        .playContainer {
          .playWrapper {
            .playContent {
              .playText {
                gap: 20px;

                .playTextTitle {
                  font-size: 30px;
                  line-height: 40px;
                }

                .playTextContent {
                  font-size: 14px;
                  line-height: 20px;
                }

                .playTextButton {
                  gap: 5px;

                  .playTextButtonItem {
                    height: 60px;
                  }
                }
              }
            }
          }
        }

        .aboutWrapper {
          .aboutHeader {
            .aboutLeft {
              width: 160px;
              height: 76px;
            }

            .aboutTitle {
              font-size: 25px;
              line-height: 35px;
            }

            .aboutRight {
              width: 160px;
              height: 76px;
            }
          }

          .aboutContent {
            font-size: 14px;
            line-height: 20px;
            margin-top: 40px;
          }

          .aboutCard {
            .aboutCardRow {
              .aboutCardItem {
                .aboutCardItemTitle {
                  span {
                    font-size: 18px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }

      .moreContainer {
        .moreWrapper {
          .moreHeader {
            .moreLeft {
              width: 160px;
              height: 76px;
            }

            .moreTitle {
              font-size: 25px;
              line-height: 35px;
            }

            .moreRight {
              width: 160px;
              height: 76px;
            }
          }

          .moreContent {
            margin-top: 40px;
          }
        }
      }

      .tokenContainer {
        .tokenWrapper {
          .tokenHeader {
            .tokenLeft {
              width: 160px;
              height: 76px;
            }

            .tokenTitle {
              font-size: 25px;
              line-height: 35px;
            }

            .tokenRight {
              width: 160px;
              height: 76px;
            }
          }

          .tokenContent {
            .tokenCardBody {
              .tokenContentText {
                font-size: 12px;
                line-height: 18px;
                padding: 20px;
                margin-top: 30px;
              }

              .tokenContentMedal {
                width: 40%;
                object-fit: cover;
              }
            }
          }
        }
      }

      .journeyContainer {
        .journeyWrapper {
          margin-top: 10vw;
          width: 100%;
          max-width: 90vw;

          .journeyHeader {
            .journeyLeft {
              width: 160px;
              height: 76px;
            }

            .journeyTitle {
              font-size: 25px;
              line-height: 35px;
            }

            .journeyRight {
              width: 160px;
              height: 76px;
            }
          }

          .journeyCard {
            margin-top: 60px;

            .journeyCardCharacter {
              height: 500px;
            }

            .journeyCardPops {
              height: 700px;

              .journeyCardPopsItem {
                .journeyCardPopsItemText {
                  p {
                    font-size: 0.8vw;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .homeContainer {
    .homeWrapper {
      .bannerContainer {
        .bannerWrapper {
          .bannerSlogan {
            .bannerSloganLeft {
              font-size: 11px;
              line-height: 28px;
            }

            .bannerSloganRight {
              font-size: 11px;
              line-height: 28px;
            }
          }

          .bannerTitle {
            font-size: 85px;
            line-height: 210px;
          }
        }
      }

      .aboutContainer {
        .aboutIcon {
          top: -15vh;

          img {
            width: 60%;
            height: 60%;
            object-fit: cover;
          }
        }

        .aboutBackground {
          top: 15vh;
        }

        .playContainer {
          padding-top: 100px;

          .playWrapper {
            .playBackground {
              height: 350px;
              width: 100%;

              .playBackgroundImg {
                height: 100%;
              }
            }

            .playContent {
              padding: 8vw 15vw;

              .playCover {
                width: 40%;

                .playCoverImg {
                  width: 100%;
                  height: 100%;
                  object-fit: scale-down;
                }

                .playCoverIcon1 {
                  width: 35px;
                  height: 35px;
                }

                .playCoverIcon2 {
                  width: 35px;
                  height: 35px;
                }
              }

              .playText {
                width: 50%;
                gap: 10px;

                .playTextTitle {
                  font-size: 12px;
                  line-height: 12px;
                }

                .playTextContent {
                  font-size: 11px;
                  line-height: 20px;
                }

                .playTextButton {
                  gap: 3px;

                  .playTextButtonItem {
                    height: 30px;
                  }
                }
              }
            }
          }
        }

        .aboutWrapper {
          .aboutHeader {
            .aboutLeft {
              width: 70px;
              height: 40px;
            }

            .aboutTitle {
              font-size: 20px;
              line-height: 30px;
              margin: 0 5px;
            }

            .aboutRight {
              width: 70px;
              height: 40px;
            }
          }

          .aboutContent {
            font-size: 12px;
            line-height: 20px;
            margin-top: 40px;
          }

          .aboutCard {
            .aboutCardRow {
              .aboutCardItem {
                .aboutCardItemTitle {
                  span {
                    font-size: 16px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                  }
                }
              }
            }
          }
        }
      }

      .moreContainer {
        margin-top: -60vw;

        .moreBackgroundImg {
          width: 120%;
        }

        .moreWrapper {
          max-width: 90vw;
          padding-top: 40vw;

          .moreHeader {
            .moreLeft {
              width: 70px;
              height: 40px;
            }

            .moreTitle {
              font-size: 20px;
              line-height: 30px;
              margin: 0 5px;
            }

            .moreRight {
              width: 70px;
              height: 40px;
            }
          }

          .moreContent {
            margin-top: 20px;
            font-size: 14px;
          }

          .moreCard {
            margin-top: 20px;
            gap: 10px;

            .moreCardLeft {
              width: 40px;
              height: 40px;
            }

            .moreCardSlider {
              .moreCardSliderContent {
                padding: 2.2vw 2vw;

                .moreCardSliderItem {
                  border-radius: 20px;
                }
              }
            }

            .moreCardRight {
              width: 40px;
              height: 40px;
            }
          }
        }
      }

      .tokenContainer {
        height: 600px;

        .tokenBackgroundImg {
          width: 300%;
        }

        .tokenWrapper {
          max-width: 90vw;
          padding-top: 5vw;

          .tokenHeader {
            justify-content: center;

            .tokenLeft {
              width: 70px;
              height: 40px;
            }

            .tokenTitle {
              font-size: 20px;
              line-height: 30px;
              margin: 0 5px;
            }

            .tokenRight {
              width: 70px;
              height: 40px;
            }
          }

          .tokenContent {
            margin-top: 60px;
            font-size: 14px;

            .tokenContentImg {
              height: 400px;
              margin-top: -20vw;
            }

            .tokenCardBody {
              flex-direction: column-reverse;

              .tokenContentText {
                font-size: 12px;
                line-height: 20px;
                padding: 10px;
                margin-top: unset;
              }

              .tokenContentMedal {
                width: 40%;
                object-fit: cover;
              }
            }
          }
        }
      }

      .journeyContainer {
        margin-top: -20vw;
        height: 700px;
        justify-content: flex-start;

        .journeyBackground {
          top: 0;
          height: 100%;

          .journeyBackgroundFooter {
            position: absolute;
            bottom: 0;
          }
        }

        .journeyWrapper {
          max-width: 90vw;
          padding-top: 15vw;

          .journeyHeader {
            .journeyLeft {
              width: 70px;
              height: 40px;
            }

            .journeyTitle {
              font-size: 20px;
              line-height: 30px;
              margin: 0 5px;
            }

            .journeyRight {
              width: 70px;
              height: 40px;
            }
          }

          .journeyContent {
            font-size: 14px;
            margin-top: 20px;
          }

          .journeyCard {
            margin-top: 100px;

            .journeyCardCharacter {
              width: 100%;
              height: auto;
            }

            .journeyCardPops {
              height: 400px;

              .journeyCardPopsItem {
                width: 60vw;

                .journeyCardPopsItemText {
                  padding-left: 60px;
                  padding-right: 40px;

                  p {
                    font-size: 10px;
                    line-height: 15px;
                  }
                }
              }

              .journeyCardPopsItem1 {
                top: -10px;
                left: -10px;
              }

              .journeyCardPopsItem2 {
                bottom: -10px;
                left: 0;
              }

              .journeyCardPopsItem3 {
                bottom: 0;
                right: -10px;
              }
            }
          }
        }
      }
    }
  }
}
