.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .bannerBackground {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("@/assets/home/top.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  .plumeBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: url("@/assets/home/plume.png") no-repeat center center;
    background-size: cover;
    z-index: 3;
  }

  .homeWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .bannerContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80vh;
      z-index: 10;

      .bannerWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        z-index: 1;

        .bannerSlogan {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .bannerSloganLeft {
            font-family: "Karma";
            font-size: 28px;
            font-weight: 400;
            line-height: 41px;
            letter-spacing: 0.2em;
            text-align: left;
          }

          .bannerSloganRight {
            font-family: "Karma";
            font-size: 28px;
            font-weight: 400;
            line-height: 41px;
            letter-spacing: 0.2em;
            text-align: right;
          }
        }

        .bannerTitle {
          position: relative;
          font-family: Arizonia;
          font-size: 244px;
          font-weight: 400;
          line-height: 305px;
          letter-spacing: 0em;
          text-align: center;
          color: #fff;
          -webkit-text-stroke: 3px rgba(0, 0, 0, 0);
          background: -webkit-linear-gradient(
            98.48deg,
            #fff 2.98%,
            #000 97.86%
          );
          -webkit-background-clip: text;
          text-shadow: 0px 5.208510875701904px 34.37617111206055px #759fd7;
        }
      }
    }

    .aboutContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      .aboutCircle {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }

      .aboutIcon {
        position: absolute;
        top: -10vh;
        z-index: 3;
      }

      .aboutBackground {
        position: absolute;
        top: 20vh;
        width: 100%;
        height: calc(100% - 170px);
        background: #f6f1e2;
        z-index: 1;
      }

      .playContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 300px;

        .playWrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0 5vw;

          .playBackground {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            overflow: hidden;

            .playBackgroundImg {
              width: 100%;
              z-index: 3;
            }
          }

          .playContent {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 10;
            padding: 5vw 15vw;
            gap: 5vw;

            .playCover {
              flex: 1;
              position: relative;
              height: 100%;

              .playCoverImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .playCoverMaskUp {
                position: absolute;
                top: 0;
                width: 100%;
                height: 20%;
                background: linear-gradient(
                  180deg,
                  #fbf7f4 20%,
                  rgba(248, 244, 236, 0) 100%
                );
              }

              .playCoverMaskDown {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 20%;
                background: linear-gradient(
                  0deg,
                  #fbf7f4 20%,
                  rgba(248, 244, 236, 0) 100%
                );
              }

              .playCoverIcon1 {
                position: absolute;
                top: 20%;
                left: -10%;
                width: 90px;
                height: 90px;
                z-index: 10;

                .playCoverIconImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .playCoverIcon2 {
                position: absolute;
                bottom: 20%;
                right: -10%;
                width: 90px;
                height: 90px;
                z-index: 10;

                .playCoverIconImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

            .playText {
              flex: 2;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 50px;

              .playTextTitle {
                font-family: Jockey One;
                font-size: 50px;
                font-weight: 400;
                line-height: 60px;
                letter-spacing: 0em;
                text-align: center;
              }

              .playTextContent {
                font-family: Josefin Slab;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
              }

              .playTextButton {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                .playTextButtonItem {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  height: 100px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .aboutWrapper {
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        padding-top: 100px;
        padding-bottom: 120px;

        .aboutHeader {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .aboutLeft {
            width: 222px;
            height: 106px;

            .aboutLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .aboutTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 40px;
            text-transform: capitalize;
          }

          .aboutRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .aboutRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .aboutContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 60px;
          font-family: Josefin Slab;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
        }

        .aboutCard {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 50px;

          .aboutCardRow {
            width: 100%;

            .aboutCardItem {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .aboutCardItemImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .aboutCardItemTitle {
                position: absolute;
                bottom: 30px;
                left: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: linear-gradient(
                  90deg,
                  rgba(0, 0, 0, 0) 0%,
                  #000000 47.5%,
                  rgba(0, 0, 0, 0) 100%
                );

                span {
                  font-family: Josefin Slab;
                  font-size: 24px;
                  font-weight: 700;
                  text-align: center;
                  text-transform: uppercase;
                  color: #fff;
                  padding-top: 13px;
                  padding-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }

    .moreContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-top: -30vw;
      z-index: 3;

      .moreBackgroundImg {
        width: 100%;
        z-index: 3;
      }

      .moreWrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        z-index: 10;
        padding-top: 35vw;
        padding-bottom: 400px;

        .moreHeader {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .moreLeft {
            width: 222px;
            height: 106px;

            .moreLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .moreTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 40px;
            text-transform: capitalize;
          }

          .moreRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .moreRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .moreContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 60px;
          font-family: Josefin Slab;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
        }

        .moreCard {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 60px;
          gap: 50px;

          .moreCardLeft {
            width: 75px;
            height: 75px;
            transform: scaleX(-1);
            cursor: pointer;

            .moreCardLeftImg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .moreCardSlider {
            position: relative;
            width: 100%;

            .moreCardSliderBorder {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;

              .moreCardSliderBorderImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .moreCardSliderContent {
              padding: 20px;
              width: 100%;

              .moreCardSliderItem {
                width: 100%;
                height: 100%;

                .moreCardSliderItemImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }

          .moreCardRight {
            width: 75px;
            height: 75px;
            cursor: pointer;

            .moreCardRIghtImg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .tokenContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: -10vw;
      z-index: 2;

      .tokenBackgroundImg {
        width: 100%;
      }

      .tokenWrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        z-index: 10;

        .tokenHeader {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;

          .tokenLeft {
            width: 222px;
            height: 106px;

            .tokenLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .tokenTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 20px;
            text-transform: capitalize;
            color: #feecac;
          }

          .tokenRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .tokenRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .tokenContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          .tokenContentImg {
            width: 100%;
            margin-top: 30px;
          }

          .tokenCardBody {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;

            .tokenContentText {
              font-family: Josefin Slab;
              font-size: 20px;
              font-weight: 600;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: left;
              padding: 30px;
              color: #fff;
            }
          }
        }
      }
    }

    .journeyContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-top: -20vw;
      z-index: 10;

      .journeyBackground {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow: hidden;

        .journeyBackgroundImg {
          width: 110%;
          z-index: 3;
        }

        .journeyBackgroundColor {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #35324a 46.46%, #1b1b25 100%);
          z-index: 1;
          margin-top: 20vw;
        }

        .journeyBackgroundStar {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("@/assets/home/journeyStar.png") no-repeat center
            center;
          margin-top: 20vw;
          z-index: 2;
          opacity: 0.5;
        }

        .journeyBackgroundFooter {
          bottom: -20vw;
          width: 100%;
          z-index: 2;

          .journeyBackgroundFooterImg {
            width: 100%;
          }
        }
      }

      .journeyWrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        z-index: 10;
        margin-top: 10vw;

        .journeyHeader {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .journeyLeft {
            width: 222px;
            height: 106px;

            .journeyLeftImg {
              width: 100%;
              height: 100%;
            }
          }

          .journeyTitle {
            font-family: Jockey One;
            font-size: 60px;
            font-weight: 400;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: center;
            margin: 0 20px;
            text-transform: capitalize;
            color: #483f40;
          }

          .journeyRight {
            width: 222px;
            height: 106px;
            transform: scaleX(-1);

            .journeyRightImg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .journeyContent {
          font-family: Josefin Slab;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          margin-top: 30px;
        }

        .journeyCard {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 160px;

          .journeyCardCharacter {
            height: 700px;
            z-index: 2;

            .journeyCardCharacterImg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .journeyCardPops {
            position: absolute;
            height: 930px;
            width: 100%;
            z-index: 3;

            .journeyCardPopsItem {
              position: relative;
              width: 25vw;

              .journeyCardPopsItemImg {
                width: 100%;
                height: 100%;
              }

              .journeyCardPopsItemText {
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 100%;
                padding-left: 6vw;
                padding-right: 4vw;

                p {
                  font-family: Poppins;
                  font-size: 0.9vw;
                  font-weight: 400;
                  line-height: 25px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #fff;
                  margin: 0;
                }
              }
            }

            .journeyCardPopsItem1 {
              position: absolute;
              top: 10vw;
              left: 0;
            }

            .journeyCardPopsItem2 {
              position: absolute;
              bottom: 5vw;
              left: 3vw;
            }

            .journeyCardPopsItem3 {
              position: absolute;
              top: 20vw;
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .homeContainer {
    .homeWrapper {
      .bannerContainer {
        .bannerWrapper {
          .bannerSlogan {
            .bannerSloganLeft {
              font-size: 24px;
              line-height: 36px;
            }

            .bannerSloganRight {
              font-size: 24px;
              line-height: 36px;
            }
          }

          .bannerTitle {
            font-size: 200px;
            line-height: 250px;
          }
        }
      }

      .aboutContainer {
        .playContainer {
          .playWrapper {
            .playContent {
              .playText {
                gap: 30px;

                .playTextTitle {
                  font-size: 40px;
                  line-height: 50px;
                }

                .playTextButton {
                  gap: 5px;

                  .playTextButtonItem {
                    height: 80px;
                  }
                }
              }
            }
          }
        }

        .aboutWrapper {
          .aboutHeader {
            .aboutLeft {
              width: 200px;
              height: 96px;
            }

            .aboutTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .aboutRight {
              width: 200px;
              height: 96px;
            }
          }

          .aboutContent {
            font-size: 16px;
            line-height: 25px;
            margin-top: 40px;
          }
        }
      }

      .moreContainer {
        .moreWrapper {
          .moreHeader {
            .moreLeft {
              width: 200px;
              height: 96px;
            }

            .moreTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .moreRight {
              width: 200px;
              height: 96px;
            }
          }
        }
      }

      .tokenContainer {
        .tokenWrapper {
          .tokenHeader {
            .tokenLeft {
              width: 200px;
              height: 96px;
            }

            .tokenTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .tokenRight {
              width: 200px;
              height: 96px;
            }
          }

          .tokenContent {
            .tokenCardBody {
              .tokenContentText {
                font-size: 16px;
                line-height: 25px;
                padding: 40px 20px;
              }
            }
          }
        }
      }

      .journeyContainer {
        .journeyWrapper {
          margin-top: 20vw;

          .journeyHeader {
            .journeyLeft {
              width: 200px;
              height: 96px;
            }

            .journeyTitle {
              font-size: 40px;
              line-height: 50px;
            }

            .journeyRight {
              width: 200px;
              height: 96px;
            }
          }

          .journeyCard {
            margin-top: 60px;

            .journeyCardPops {
              .journeyCardPopsItem {
                .journeyCardPopsItemText {
                  p {
                    font-size: 0.8vw;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
